.profile {
  padding: 15px;
  margin: 2rem;
  width: 90%;
  height: 90%;
  text-align: center;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  transition: transform .2s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &__image {
    border-radius: 50%;
  }

  &__name {
    font-size: 22px;
    color: #000000;
  }

  &__main {
    margin-top: 10px;
    border-bottom: 1px solid #e6e6e6;
  }

  &__contact {
    font-size: 16px;
    margin-top: 15px;
    color: gray;
  }

  &__cta {
    position: relative;
    top: 30px;
  }
}

.icon {
  margin-right: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
